<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>
    {% if page.title == "Home" %}
      {% for item in site.data.featured %}
        <p>
          <a href="{{ item.url }}">{{ item.name }}</a>
          {% if item.journal %} - {{ item.journal }}{% endif %}
          {% if item.event %} - {{ item.event }}{% endif %}
          ({{ item.year }})
        </p>
      {% endfor %}
    {% else %}
      {% for item in site.data.index %}
        <p>
          <a href="{{ item.url }}">{{ item.name }}</a>
          {% if item.journal %} - {{ item.journal }}{% endif %}
          {% if item.event %} - {{ item.event }}{% endif %}
          ({{ item.year }})
        </p>
      {% endfor %}
    {% endif %}
  </div>
</div>
