---
layout: default
---

{{ content }}

<h3 class="fw-bold border-bottom pb-3 mb-5">Projects</h3>
{% for projects in site.data.settings.projects %}
<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h5>{{ projects.title }}</h5>
    <p>Name: {{projects.name}}</p>
    <p>Abstract: {{ projects.abstract}}</p>
    <p>Details: {{ projects.details }}</p>
    <p><a href="{{ site.github.url }}/projects/{{ projects.url }}">More info</a></p>
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/{{ projects.image }}" alt="Contact" width="100%">
  </div>
</div>
{% endfor %}
